<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="end-to-end">
            <directory>tests/end-to-end</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/functions.php</file>
        </exclude>
    </source>
    <coverage cacheDirectory="coverage/cache" pathCoverage="true">
        <report>
            <clover outputFile="coverage/clover.xml" />
            <html outputDirectory="coverage/" />
        </report>
    </coverage>
</phpunit>